CONSUME_QUEUE_NAME=forced_alignment
CONSUME_ROUTING_KEY=forcedalignment.processing
RABBITMQ_URL=amqp://guest:guest@localhost:5672//
RESULT_CELERY_TASK_NAME=forced-alignment-done
RESULT_QUEUE_NAME=forced_alignment_done
RESULT_QUEUE_EXCHANGE=forced_alignment_done
RESULT_QUEUE_ROUTING_KEY=forcedalignment_done.processing